<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.micker.home">

    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:supportsRtl="true">


        <activity
                android:name=".activity.HomeCategoryListActivity"
                android:screenOrientation="portrait" />

        <activity
                android:name=".activity.SvgDetailActivity"
                android:screenOrientation="portrait" />

        <activity
                android:name=".activity.FindInspirationActivity"
                android:screenOrientation="portrait" />

        <activity
                android:name=".activity.UserWorksActivity"
                android:screenOrientation="portrait" />

        <activity
                android:name="com.micker.first.FirstStageActivity"
                android:screenOrientation="portrait" />


        <activity
                android:name=".activity.MainActivity"
                android:screenOrientation="portrait" />

        <activity
                android:name="com.micker.third.activity.ThirdStageActivity"
                android:screenOrientation="portrait" />

        <activity
                android:name="com.micker.four.activity.FourStageActivity"
                android:screenOrientation="portrait" />

        <activity
                android:name="com.micker.five.activity.FullScreenPlayActivity"
                android:screenOrientation="portrait" />

        <activity android:name="com.micker.six.activity.SixActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name="com.micker.first.ChineseWordListActivity"
            android:screenOrientation="portrait"
            />
    </application>
</manifest>
